*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#analizar{
    background-color: darkgray;
    color: white;
    font-size: medium;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
#oracion{
    width: 40%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    font-size: medium;
    margin-bottom: 20px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}